/* Toggle input based on https://codepen.io/avstorm/pen/jOEpBLW */

.ghostToggle {
	display: none;
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

span.short {
	display: inline-block;
	width: 2em;
	text-align: right;
}

.logo {
	position: relative;
	width: 10em;
	height: 10em;
	z-index: 1;
}

.panel {
	position: relative;
	display: block;
	margin: 0.3em;
	padding: 0.3em;
	width: 10em;
	top: 0;
	z-index: 10;
	border-radius: 1em;
	background: rgb(236,246,246);
	border: solid 1px rgba(0, 0, 0, 0.05);
	/*box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.1);*/
	backdrop-filter: blur(0.3em);
}

#colourPicker {
	position: fixed;
}

.colourRow {
	width: 16em;
	height: 4em;
}

#one {
	background-color: rgb(156, 224, 213);
}

#two {
	background-color: rgb(108, 212, 184);
}

#three {
	background-color: rgb(92, 184, 156);
}

#four {
	background-color: rgb(74, 150, 119);
}

#five {
	background-color: rgb(250, 224, 77);
}

#six {
	background-color: rgb(243, 173, 60);
}

#seven {
	background-color: rgb(238, 121, 51);
}

#eight {
	background-color: rgb(191, 43, 33);
}

#nine {
	background-color: rgb(200,100,100);
}

#ten {
	background-color: rgb(230, 172, 163);
}

#eleven {
	background-color: rgb(138, 95, 146);
}

#twelve {
	background-color: rgb(135, 67, 132);
}

#thirteen {
	background-color: rgb(89, 54, 130);
}

#fourteen {
	background-color: rgb(37, 57, 141);
}

#fifteen {
	background-color: rgb(60, 113, 165);
}

#sixteen {
	background-color: rgb(67, 136, 189);
}

#seventeen {
	background-color: rgb(109, 169, 222);
}

hr {
	margin-bottom: 1em;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

label {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	z-index: 10;
}

button,
label span,
.button-group,
.panelText {
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 0.7em;
	display: inline-block;
	margin-left: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	color: black;
	/*text-shadow: 0 0 0.2em gray;*/
}

.heading {
	margin-top: 0.5em;
}

.subHeading {
	transform: translateY(-0.5em);
	margin-bottom: 0.3em;
}

.subHeading2 {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.button-group {
	width: 94%;
}

button,
.toggle {
	height: 24px;
	width: 56px;
	border-radius: 12px;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 1px solid gray;
	background: rgba(0, 0, 0, 3%);
	vertical-align: middle;
}

button {
	height: 24px;
	width: 100%;
	color: black;
	margin: 0.5em 0;
	font-size: 1em;
}

button:hover {
	cursor: pointer;
	background: rgb(173,222,218);
}

.button-group:hover {
	color: black;
}

.toggle:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 10%);
	border: solid 1px gray;
}

/*
.toggle:checked {
	border-color: green;
}
*/

:checked+span,
:checked+span+span,
:checked+span+span+span {
	color: rgb(118,215,207);
	font-weight: bold;
	/*text-shadow: 0 0 0.1em dimgray;*/
}

.toggle:checked:after {
	border-color: rgb(118,215,207);
	background: rgb(118,215,207);
	transform: translatex(32px);
}

textarea {
	z-index: -1;
}

#circle {
	position: fixed;
	display: none;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	transform: translateX(-50%) translateY(-50%);
	cursor: none;
	z-index: 1000;
	left: -100px;
 	top: 50%;
  }

/*#blurrer:hover {
	backdrop-filter: blur(0.3em);
}*/